<div class="row">
  <div class="small-12 medium-8 medium-offset-2">
    <h1>
      Admin Event List
    </h1>
  </div>
</div>
<% @events.each do |event| %>
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2">
      <p>
        <%= event.name %>
      </p>
    </div>
  </div>
<% end %>
