$script-font: 'Amatic SC';
$regular-font: 'Spectral Bold';
$email-invite-font: 'Palatino', 'Palatino Linotype', cursive;

$lt-off-white: #f7f4f3;
$navy: #00474F;
$lt-navy: #00474F;
$light-grey: #eeeeee;
$medium-grey: #bbbbbb;
$aqua-blue: #00474F;
$lt-blue: #00474F;
$seafoam-green: #50D9C5;
