$dark-navy: rgb(27, 84, 144);
$beige: #b6ada4;
$lt-off-white: #fff0f0;
$script-font: 'Great Vibes', cursive;
$regular-font: 'Raleway', sans-serif;
$primary-nav-color: #114d7e;
$secondary-nav-color: #114d7e;
$tertiary-nav-color: #296aa3;
