$script-font: 'Great Vibes', cursive;
$regular-font: 'Raleway', sans-serif;

$lt-off-white: #fff0f0;
$navy: #114d7e;
$lt-navy: #296aa3;
$light-grey: #eeeeee;
$medium-grey: #bbbbbb;
$aqua-blue: #30B6D7;
