/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/* Script - font-family: 'Parisienne', cursive; */
/* Regular - font-family: 'Raleway', sans-serif; */
@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: $regular-font;
}

h1, h2 {
  font-family: $script-font;
}

.regular-font {
  font-family: $regular-font;
  font-size: .8em;
}

.script-font {
  font-family: $script-font;
  letter-spacing: 2px;
}

.error-text {
  color: #FF69B4;
}

.black-text {
  color: black;
}
