@import "variables";

#email-container.password-reset {
  padding-top: 20px;
}

#email-container {
  min-height: 900px;
  max-height: 900px;
  color: #352824 !important;
  background-image: url('http://dig-your-roots-staging.herokuapp.com/locket-email.jpeg');
  background-size: cover;
  background-color: #352824;
  font-family: cursive;
  text-align: center;

  .password-reset-panel {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px !important;
    padding: 10px;
  }

  .text-panel {
    margin-top: 25px;
    margin-left: 25px;
    min-width: 400px;
    background: $lt-off-white !important;
    opacity: 0.8;

    @media only screen and (min-width: 250px) {
      margin-left: 50px;
    }
    @media only screen and (min-width: 250px) {
      padding: 50px;
    }

    .rsvp-section {
      opacity: initial;
      margin-bottom: 50px;
    }
  }

  .invite-message {
    margin-bottom: 50px;
    font-size: 20px;
  }

  h1 {
    margin: 25px 0 15px;
    color: #352824 !important;
    font-family: cursive;
    font-size: 100px;
  }

  h2 {
    color: #352824 !important;
    font-family: cursive;
    font-size: 50px;
  }

  h3 {
    margin-bottom: 25px;
    color: #352824 !important;
    font-family: cursive;
    font-size: 35px;
  }

  p {
    margin: 15px;
  }

  a {
    padding: 20px 60px;
    line-height: 58px;
    background-color: #352824 !important;
    border-style: none;
    color: $lt-off-white !important;
  }
}
