@import "variables";

#events-index-page {
  .rsvp-required {
    color: $navy;
    background-color: $lt-blue;

    &:hover {
      background-color: $aqua-blue;
    }
  }

  h1 a{
    color: $navy;
  }
}
