@import "variables";

#body-container {
  background-image: image-url('background-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;

  color: $navy;
  font-family: $regular-font;

  .main-text-area {
    background-color: #fffefe;
    height: 100vh;
    padding: 20px 0;
    opacity: .83;

    h1 {
      font-size: 2rem;
    }
  }
}

.flash-message-container {
  background-color: $aqua-blue;
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px;
  padding: 15px;
  z-index: 5;

  .close-flash {
    float: right;

    &:hover {
      cursor: pointer;
      cursor: hand;
    }
  }
}
