@import "variables";

#body-container {
  background-image: image-url('background-image.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;

  color: $dark-navy;
  font-family: $regular-font;

  .react-layout .columns {
    background-color: #fffefe;
    height: 100vh;
    padding: 20px 0;
    opacity: .83;

    h1 {
      font-size: 2rem;
    }
  }
}
