@import "variables";

#rsvp-page {
  h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: $navy;
  }

  .event-details {
    text-align: left;
  }

  .text-questions {
    p {
      margin-bottom: 0;
    }
  }

  .error-text {
    color: red;
  }
}
