@import "variables";

#rsvp-page {
  h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: $navy;
  }

  .event-details {
    p {
      color: black;
    }
  }

  .text-questions {
    p {
      margin-bottom: 0;
    }
  }
}
