@import "variables";

.sign-in-form-container {
  margin: 20px;
  font-weight: bold;

  input {
    text-align: center;
  }

  #toggle-sign-in-form {
    font-family: $script-font;
    font-size: 2rem;
    padding-bottom: 20px;
    letter-spacing: 2px;
  }

  .sign-in-button {
    margin-top: 15px;
  }
}
