@import "variables";

.small-nav {
  background: $navy; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $lt-navy , $navy, $navy, $navy, $lt-navy); /* Standard syntax */

  height: 100%;
  padding-top: 20px;
  padding-bottom: 10px;

  h1 {
    padding: 15px 0 0 0;
    color: $lt-off-white;
  }

  img {
    height: 50px;
  }
}
