@import "variables";

.header-background-style {
  background: $seafoam-green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $lt-navy , $navy, $navy, $navy, $lt-navy); /* Standard syntax */

  h1 {
    font-size: 40px;
  }
}

.desktop-top-bar {
  background: $navy; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $lt-navy, $navy, $navy, $navy, $lt-navy); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $lt-navy , $navy, $navy, $navy, $lt-navy); /* Standard syntax */
  height: 40px;

  a {
    color: $lt-off-white;
  }
}

.top-bar.header-background-style {
  background: transparent;
  margin-top: -90px;
}

.top-bar.expanded .title-area {
  background: transparent;
}

.header-anchor-style {
  height: 100%;

  h1 {
    padding: 20px 0 0 0;
    color: white;
  }

  img {
    height: 65px;
  }
}
