@import "variables";

$light-green: #84ce15;
$light-grey: #eeeeee;
$blue: #37becc;

@mixin fancy-checkbox(
  $checkbox-size: 60px,
  $check-color: $light-green,
  $box-bg-color: transparent,
  $box-border-color: #ddd,
  $background-color: $light-grey,
  $hover-check-color: $light-green,
  $checked-box-bg-color: transparent,
  $checked-box-border-color: $box-border-color,
  $checked-label-color: auto,
  $checked-background-color: $blue
) {
  display: block;
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  padding-top: 13px;
  position: relative;

  .background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;
    height: calc(#{$checkbox-size} - 10px);
    background-color: $background-color;
  }

  input, label {
    font-size: 1rem;
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
  }

  input[type="checkbox"],
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;

    &:focus {
      outline: none;
    }

    &:hover + .background {
      background-color: $blue;
    }
  }

  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    & ~ .background {
      background-color: $checked-background-color;
    }

    & ~ label {
      color: $checked-label-color;
    }
  }
}

.fancy-checkbox {
  @include fancy-checkbox;
}
