@import "variables";

.top-bar {
  .toggle-topbar.menu-icon {
    z-index: 9999;
  }
}

.top-bar-title {
  line-height: normal;
  letter-spacing: 3px;

  a {
    margin-right: 5px;
    margin-left: 5px;
  }

  h1 {
    font-size: 2.75rem;
  }

  ul.menu {
    li {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin-top: 10px;
      margin-bottom: 5px;
      width: 30%;

      a {
        color: $medium-grey;
        font-style: italic;
      }
    }

    &.mobile-nav-icons {
      font-size: 1.6rem;

      .fa-stack-2x {
        font-size: 1.9rem;
      }
      .fa-inverse {
        color: $navy;
      }
    }
  }
}
