@import "variables";

.welcome-message {
  font-size: 3rem;
  font-weight: bold;
  color: $seafoam-green;
  border: 3px;
  border-color: $seafoam-green;
  border-style: solid;
  margin-right: 220px;
  margin-left: 220px;

  @media only screen and (max-width: 764px) {
    border: 2px;
    border-style: solid;
    margin: 20px 150px;
  }
  @media only screen and (max-width: 456px) {
    margin: 10px 55px; 
  }
}
