@import "variables";

.welcome-message {
  font-size: 3rem;
  font-weight: bold;
  color: $seafoam-green;
  border: 3px;
  border-color: $seafoam-green;
  border-style: solid;
  margin-right: 220px;
  margin-left: 220px;
}
