<div id="rails-app">
  <div class="row rails-layout">
    <div class="columns small-12 medium-10 medium-offset-1 small-opaque">
      <div class="columns small-12 medium-10 medium-offset-1">
        <div class="header-padding"></div>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
